{% extends 'base.html' %}

{% load static %}

{% block content %}
<header class="text-center text-white bg-primary masthead" style="background: url({% static 'img/photo-1535958636474-b021ee887b13.jpeg' %}) center / cover no-repeat;">
    <div class="container" style="background: rgba(21,21,21,0.58);height: 488.6px;">
        <h1 style="margin-top: -7px;padding-top: 129px;">Beer Menu</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">IPA - Wheats - Stouts</h2>
    </div>
</header>
<section id="portfolio" class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary"></h2>
        <div class="row">
            {% for beer in beers %}
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#{{ beer.modalVal }}" data-bs-toggle="modal">
                <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                    <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="{{ beer.imgURL.url }}" />
            </a></div>
            
            {% endfor %}
            
        </div>
    </div>
    {% for beer in beers %}
    <div class="modal text-center" role="dialog" tabindex="-1" id="{{ beer.modalVal }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">{{ beer.name }}</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="{{ beer.imgURL.url }}">
                                <p class="mb-5" style="color: var(--bs-blue);">{{ beer.desc }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock content %}